/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit
}
ul, ol, li {
    list-style: none;
}
/*Fim do RESET*/
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-inline: 64px;
}
header{
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    height: 70px;
    width: 90px;
    background-image: url('/img/logo_sete_church.png');
    background-size: 100px;
}
.menu ul{
    display: flex;
    gap: 32px;

}
main{
    flex-grow: 1;
    display: flex;
}
.conteudo{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.conteudo h1{
    font-size: 96px;
}
.conteudo p{
    width: 90%;
    font-size: 48px;
}

.acao button{
    height: 80px;
    width: 400px;
    background-color: lightpink;
    font-size: 40px;
    color: darkgoldenrod;
}
.social{
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.social div{
    height: 96px;
    width: 96px;
    border-radius: 50%;
    background-color: lightgrey;
}
.imagem{
    height: 100%;
    width: 50%;
    background-image: url('/img/flyer_novo.jpeg');
    background-size: 800px;
    justify-content: right;
}
footer{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}